<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Crep List</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>My Crep List</h1>
    <nav>
      <a href="/kicks/new">Add Sneaker</a>
      <a href="/kicks">Sneaker Index</a>
    </nav>
    <hr>
    <%= yield %>
  </body>
</html>
