<h2>Have Some Heat? Add It Here</h2>

<form action="/kicks" method="post">

  Brand: <input type="text" name="brand" value=""> <br><br>
  Silhouette: <input type="text" name="silhouette" value=""> <br><br>
  Colorway: <input type="text" name="colorway" value=""> <br><br>
  Category: <input type="text" name="category" value=""> <br><br>
  Description: <input type="text" name="description" value=""> <br><br>
  Heat Rating: <input type="text" name="heat_rating" value=""> <br><br>
  Drip or Drop: <input type="text" name="drip_or_drop" value=""> <br><br>
  Release Date: <input type="text" name="release_date" value=""> <br><br>
  Image Url: <input type="text" name="image_url" value=""> <br><br>
  <br>
  <input type="submit" value="Submit Flame">
</form>
