<h2>WDI29 - Games We Play!</h2>
<ul>
	<li><a href="/games/8ball">Magic 8 Ball</a></li>
	<li><a href="/games/secretnumber">Secret Number</a></li>
	<!-- <li><a href="/games/rps">Rock Paper Scissors</a></li> -->
</ul>
