<h1>Eight Ball</h1>
<div>
<form action="/games/8ball/result">
	<input name="question" placeholder="Enter a question">
	<button>Answer</button>
</form>

<form action="/">
	<button>Back To Games</button>
</form>



<iframe src="https://giphy.com/embed/5cldNuiZrdxug" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/christmas-oakland-raiders-discounted-5cldNuiZrdxug">via GIPHY</a></p> -->
<!-- <iframe src="https://giphy.com/embed/l1Hl9zZASlviM" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/l1Hl9zZASlviM">via GIPHY</a></p> -->
</div>
