<form action="/games/secretnumber/result">
	<input name="userchoice" type="submit" value="1">
	<input name="userchoice" type="submit" value="2">
	<input name="userchoice" type="submit" value="3">
	<input name="userchoice" type="submit" value="4">
	<input name="userchoice" type="submit" value="5">
	<input name="userchoice" type="submit" value="6">
	<input name="userchoice" type="submit" value="7">
	<input name="userchoice" type="submit" value="8">
	<input name="userchoice" type="submit" value="9">
	<input name="userchoice" type="submit" value="10">
</form>

<form action="/">
	<button>Go Back!</button>
</form>
