<% if @winner %>
	<p> You're correct! </p>
<% else %>
	<p> Try again! </p>
<% end %>

<p> You pick was --> <%= @answer %> </p>
<p> Secret Number is --> <%= @secret_number %> </p>

<form action="/games/secretnumber">
	<button>Play Again!</button>
</form>
