<h2>Add New Issue</h2>

<form action="/issues" method="post">
  Summary: <input type="text" name="summary"><br>
  Description: <input type="text" name="description"><br>
  Caller Name: <input type="text" name="cust_name"><br>
  Business Unit: <input type="text" name="business_unit"><br>
  Priority: <input type="text" name="priority"><br>
  Category: <input type="text" name="category"><br>
  Resolved: <input type="text" name="resolved"><br>
  Resolution: <input type="text" name="resolution"><br>
  Technician ID: <input type="text" name="technician_id"><br>
  <br>
  <input type="submit" value="Create New Issue">
</form>
