<h2>Add new Technician:</h2>

<form action="/technicians" method="post">
  Name: <input type="text" name="name"><br>
  Department: <input type="text" name="department"><br>
  Location: <input type="text" name="location"><br>
  Country: <input type="text" name="country"><br>
  Certification: <input type="text" name="certification"><br>
  Level: <input type="text" name="level"><br>
  On-Call?: <input type="text" name="on_call"><br>
  Image URL: <input type="text" name=""><br>
  <br>
  <input type="submit" value="Create Technician">
</form>
