<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New South Wales - Camping Sites</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>New South Wales - Camping Sites</h1>
    <nav>
     <a href="/campsites/new">Add Your Campsite</a> |
     <a href="/campsites">Index</a>
    </nav>
    <hr>
      <%= yield %>  <!-- add the specific template output here, i.e. from index.erb or similar -->
    <hr>

  </body>
  <footer>
    &copy; Happy Campers 2018
  </footer>
</html>
