<h2>Results for "<%= @query %>":</h2>

<ul>
<% @results.each do |movie| %>
  <li>
    <%= movie['title'] %><br>
    <% unless movie['poster_path'].nil? %>
      <img src="<%= @img_base + movie['poster_path'] %>" />
    <% end %>
  </li>
<% end %>
</ul>
