<h2>Create New Campsite</h2>

<form action="<%= campsites_path %>" method="post">
Name: <input type="text" name="name"><br/>
Location: <input type="text" name="location"><br/>
Campsite Type: <input type="text" name="campsite_type"><br/>
Maximum No. People: <input type="text" name="max_people"><br/>
Per Night: <input type="text" name="per_night"><br/>
<br>
<input type="submit" value="Create">
</form>
